@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,700,500,600&display=swap" rel="stylesheet');

/* font-family: 'Clash Display', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  --color-hover: #575252;
  --transition: all 0.2s ease;
}

html{
  overflow-x: hidden !important;
}

body{
  overflow: hidden;
}
body.modal-open{
  padding-right: 0 !important;
}

:root {
  --color-black: #ffffff;
  --color-bg: #000000;
  --color-white: #0B0B0B;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: var(--color-white);
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav_header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav_header .logo {
  color: var(--color-black);
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
  margin-left: 56px;
}

.sidebar.expand .nav_header .logo {
  opacity: 1;
  transition: var(--transition);
  margin-left: 0;
}

.nav_header .btn-menu {
  position: absolute;
  color: var(--color-black);
  top: 180%;
  right: -46px;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: #1E1E1E;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  opacity: 0.4;
  font-size: 30px;
  color: url(<path-to-image>), lightgray 50% / cover no-repeat;
  transition: all 360ms ease;
}
.nav_header .btn-menu:hover{
  opacity: 1;
}
.sidebar.expand .btn-menu{
  width: 40px;
  height: 40px;
  background: #1E1E1E;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  opacity: 0.4;
  font-size: 30px;
  color: url(<path-to-image>), lightgray 50% / cover no-repeat;
  transition: all 360ms ease;
}
.sidebar.expand .btn-menu:hover{
  opacity: 1;
}

.sidebar.expand .nav_header .btn-menu {
  margin-right: 0;
}

.box_1 {
  margin-top: 90px;
  height: 100%;
  padding: 0;
}

.box_1 li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.box_1 i {
  color: var(--color-black);
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.box_1 img{
  padding: 11px 0;
  margin-left: 10px;
  margin-right: 14px;
  width: 23px;
}

.box_1 input {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
  outline: none;
  height: 40px;
  width: 50%;
  border: none;
  border-radius: 12px;
  background: var(--color-bg);
  padding: 0;
}

.sidebar.expand .box_1 input {
  width: 100%;
  padding: 0 20px 0 40px;
}

.box_1 li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  background: var(--color-white);
  transition: all 350ms ease;
}

.box_1 li:hover a {
  background: var(--color-hover);
}

.box_1 li:hover i {
  color: #fff;
}

.box_1 li a .title {
  color: var(--color-black);
  font-size: 18px;
  font-family: Clash Display;
  font-weight: 500;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .box_1 li a .title {
  display: block;
  transition: var(--transition);
}

.box_1 li:hover a .title {
  color: #fff;
}

.box_1 li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  color: var(--color-black);
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}

.box_1 .search-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-25px);
  font-size: 23px;
  color: var(--color-black);
  border-radius: 12px;
  background: var(--color-white);
  transition: var(--transition);
}

.sidebar.expand .box_1 .search-btn {
  background: transparent;
  transition: var(--transition);
}

.sidebar.expand .box_1 li:hover .search-btn {
  color: var(--color-black);
}

.box_1 .search-btn:hover {
  background: var(--color-hover);
}

.theme-wrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 250px;
  left: 0;
  padding: 8px 16px;
}

.theme-wrapper .theme-icon {
  font-size: 20px;
  color: var(--color-black);
  display: none;
  transition: var(--transition);
}
.sidebar.expand .theme-wrapper .theme-icon {
  display: block;
}

.theme-wrapper p {
  font-size: 16px;
  color: var(--color-black);
  font-weight: 400;
  display: none;
  transition: var(--transition);
}

.sidebar.expand .theme-wrapper p {
  display: block;
}

.theme-wrapper .theme-btn {
  width: 40px;
  height: 20px;
  background: var(--color-bg);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.theme-wrapper .theme-btn .theme-ball {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--color-black);
  border-radius: 50%;
  top: 2px;
  left: 3px;
  transition: var(--transition);
}

.theme-wrapper .theme-btn .theme-ball.dark {
  left: 20px;
}

.home {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  min-height: 100vh;
  background: var(--color-bg);
  z-index: 6;
  transition: var(--transition);
  z-index: revert-layer;
}

.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}

.sidebar.expand .token_mobil_brand{
  display: none;
}
/* section home css
************************/
.home{
  padding: 20px;
}

.custom_btn_1{
  display: inline-block;
  border-radius: 10px;
  border: 1.5px solid #FFF;
  color: #FFF;
  font-family: Clash Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding: 8px;
  min-width: 164px;
  transition: all 360ms ease;
  text-decoration: none;
}

.custom_btn_1:hover{
  color: #FFF;
  background: linear-gradient(90deg, #F66A04 0%, #F62104 103.72%);
  box-shadow: rgba(235, 235, 238, 0.356) 0px 7px 29px 0px;
}

.header-button{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.loan_fee{
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
.total_payment{
  border-top: 1px solid #7B7777;
  padding-top: 13px;
}
.nav_header .token_mobil_brand img {
  width: 40px;
  height: auto;
}

/* ************************************************************** */
.token_yiend_Pool{
  margin-top: 80px;
  padding: 20px 0 40px 0;
}
.yield_pool_contain{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.button_yield{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.custom_btn_2 {
  display: inline-block;
  border-radius: 10px;
  border: 1.5px solid #FFF;
  color: #FFF;
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding: 8px;
  min-width: 184px;
  transition: all 360ms ease;
  text-decoration: none;
}
.custom_btn_2:hover{
  color: #fff;
  background: #363636;
}
.yield_pool_item_2{
  position: relative;
  padding: 22px 40px;
  border-radius: 25px;
  border: 1px solid #FFF;
  background: #000;
  max-width: 290px;
  width: 100%;
}
.yield_pool_item_2::after{
  position: absolute;
  content: "";
  height: 80px;
  width: 100%;
  background: #7B7777;
  bottom: -8px;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 25px 25px;
}
.yield_pool_item_2 p{
  color: #FFF;
  font-family: Clash Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.yield_pool_item_2 span{
  margin-top: 16px;
  color: #FFF;
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* token info contain item */
.token_info_contain_item{
  position: relative;
  padding: 15px 18px;
  border-radius: 25px;
  border: 1px solid #FFF;
  background: #000;
  width: 100%;
}
.token_info_contain_item::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 100%;
  background: #3F3F3F;
  left: 0;
  bottom: -6px;
  z-index: -9;
  border-radius: 0px 0px 25px 25px;
}
.token_info_contain_item .table tr td,
.token_info_contain_item .table tr th{
  color: #FFF;
  font-family: Clash Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px;
}
/* .review your token */
.review_token{
  margin-top: 100px;
}
.review_token_header{
  text-align: center;
}
.review_token_header img{
  width: 80px;
}
.review_token_header h2{
  margin-top: 18px;
  color: #FFF;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* tokent_info_review */
.tokent_info_review{
  margin-top: 50px;
}
.tokent_review_contain_m{
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: auto;
}
.tokent_review_left{
  position: relative;
  padding: 30px;
  border-radius: 25px;
  border: 1px solid #3F3F3F;
  background: #060606;
  width: 100%;
}
.tokent_review_left::after{
  position: absolute;
  content: "";
  height: 80px;
  width: 100%;
  background: #7B7777;
  left: 0;
  bottom: -10px;
  z-index: -9;
  border-radius: 0px 0px 25px 25px;
}
.tokent_review_item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.review_text_box1 h4{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.review_text_box1 ul li{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}
.total_payment_token_reviw {
  max-width: 600px;
  margin: 60px auto;
}

.token_info_contain_item .table-responsive {
  white-space: nowrap;
}
.arctic_toket_background{
  position: relative;
}
.arctic_toket_background::after{
  content: "";
  position: absolute;
  top: 300px;
  right: -500px;
  width: 672px;
  height: 659px;
  flex-shrink: 0;
  background: radial-gradient(50% 50% at 50% 50%, #F66A04 0%, rgba(0, 0, 0, 0.00) 100%);
}
.nav_header img{
  max-width: 150px;
  width: 100%;
}

.sidebar.expand .token_logo_brand{
  display: block;
}
.sidebar .token_logo_brand{
  display: none;
}
.token_border{
  margin-top: 40px;
  border-top: 1px solid #373737;
}
.review_text_box1 .review_coler li{
  opacity: 0.6;
}

/* start Liquidity area */
.liquidity_h2{
  color: #FFF;
  font-family: Clash Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


/* start launchedTokens area 
**********************************/
.launchedTokens_area{
  padding: 80px 0;
}
.launched_heading h1 {
  color: #FFF;
  font-family: Clash Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* .launchedTokents top item */
.launchedTokents_top_item{
  display: flex;
  justify-content: space-between;
  gap: 20px 10px;
  margin: 30px 0 60px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #373737;
}
.launchedTokents_left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.search_form input{
  padding: 8px 20px;
  box-shadow: none;
  border: none;
  border-radius: 15px;
  color: #FFF;
  background: #151515;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.search_form input::placeholder{
  color: #fff;
}
.lt_single_item .token_dropdown  .btn-secondary {
  border-radius: 10px;
  color: #fff;
  font-family: Clash Display;
  font-weight: 500;
  background-color: #151515;
  box-shadow: none;
  border: none;
  padding: 8px 12px;
}
.ltsi_btn img{
  max-width: 22px;
  height: auto;
  margin: auto 6px 0 0;
}
.ltsi_btn{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 10px;
  background: #F66A04;
  transition: all 360ms ease;
}
.ltsi_btn:hover{
  color: #FFF;
  background: rgba(246, 105, 4, 0.774);
}
/* launchedTokents bottom contain */
.launchedTokents_bottom_contain {
  z-index: 1;
  position: relative;
}
.ltb_background{
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #3F3F3F;
  border-bottom: 6px solid #3F3F3F;
  background: #060606;
}
.lb_img{
  text-align: center;
}
.lb_img img{
  max-width: 100px;
  height: auto;
  border-radius: 50px;
  margin: auto;
}
.text_lb{
  color: #FFF;
  font-family: Clash Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_lb_26{
  color: #FFF;
  font-family: Clash Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 6px 0;
}
.text_p{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ltb_text_bottom{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ltb_text_bottom span{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* bitcoin cats area 
********************************/
.bitcoin_cats_heading{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #3F3F3F;
}
.bitcoin_cats_social a{
  margin-left: 22px;
}
.bitcoin_cats_social a:first-child{
  margin-left: 0;
}
.bitcoin_cats_social img{
  max-width: 28px;
  height: auto;
  margin-top: 26px;
  transition: all 360ms ease;
}
.bitcoin_cats_social img:hover{
  opacity: .6;
}
.bitcoin_cats_chain {
  margin: 60px 0 0 20px;
  position: relative;
  z-index: 1;
}
.text_bc{
  margin-top: 5px;
  color: #FFF !important;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about_project_text{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}
.bitcoin_cats_border{
  position: relative;
  padding: 26px 30px;
  border-radius: 25px;
  border: 2px solid #3F3F3F;
  background: #000;
  width: 100%;
}


/* ---------------- Token Table------------------ */
.tokenTable_wraper{
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
  padding-top: 50px;
  margin-top: 20px;
}
.tokenTable_wraper::after{
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: calc(100% + 100px);
  height: 1px;
  background: #373737;
}
.tokenTaRow{
  position: relative;
  border-width: 2px 2px 5px 2px;
  border-style: solid;
  border-color: #3F3F3F;
  border-radius: 15px;
  padding: 25px 30px 25px;
  background: #060606;
  margin-bottom: 25px;
  z-index: 1;
}
.token_title{
    position: relative;
    display: flex;
    align-items: center;
}
.token_title span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    background-color: #191919;
    border-radius: 50%;
}
.token_title span img{
    width: 24px;
    height: auto;
}
.token_title h4{
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 40px;
    margin-bottom: 0;
}
.token_con {
    position: relative;
}
.token_con p{
    color: #ffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.token_con h4{
    font-size: 22px;
    color: #fff;
}
.launHead02{
  margin-left: 50px;
  margin-right: 30px;
}
.launHead02 h1{
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 30px;
}
.poolButton{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 618px;
  height: 80px;
  background: #1C1C1C;
  border-radius: 18px;
  box-sizing: border-box;
  padding: 10px;
}
.poolButton button{
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background: #151515;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  transition: all 350ms ease;
}
.poolButton button:hover{
  background: #F66A04;
}
.poolButton button img{
  width: 18px;
  height: auto;
}

/* -- Modal -- */
.poolModal{
  background: #0F0F0F;
  border-radius: 20px;
  padding: 30px 35px 20px;
}
.poolModal .modal-header{
  border-bottom: 0;
}
.poolModal .modal-header .btn-close{
  mix-blend-mode:hard-light;
}
.poolModal .modal-title{
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
}
.poolModal .modal-title span{
  color: rgba(255, 255, 255, 0.50);
  margin-left: 10px;
  position: relative;
  top: 5px;
  font-size: 30px;
}
.form_item{
  position: relative;
  border-radius: 14px;
  border: 1px solid #575252;
  background: #262626;
  padding: 13px 20px 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 82px;
}
.form_item label{
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
.form_item input,
.form_item select{
  background: #262626;
  border: 0;
  outline: 0;
  box-shadow: 0 0 0;
  color: rgba(255, 255, 255, 0.50);
  font-size: 14px;
}
.form_item input{
  padding: 0;
}
.form_item select{
  padding: 0 8px;
}
.form_item input:focus,
.form_item select:focus{
  box-shadow: 0 0 0;
  background: #262626;
  color: rgba(255, 255, 255, 0.50);

}
.form_item span{
  position: absolute;
  right: 20px;
  bottom: 7px;
  color: rgba(255, 255, 255, 0.50);
  background: #262626;
  padding: 3px;
}
.poolModal button.submitBtn{
  border-radius: 14px;
  background: #F66A04;
  color: #fff;
  width: 100%;
  height: 62px;
  line-height: 62px;
  border: 0;
  outline: 0;
  font-size: 18px;
  margin-top: 5px;
}
.poolModal button.submitBtn:hover{
  background: rgba(246, 105, 4, 0.774);
}
.poolModal .modal-body p{
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  margin-top: 25px;
}

.poolModal form .form-select {
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
}
.poolModal .btn-close {
  background: url(../images/add.svg)no-repeat;
  transform: rotate(45deg);
}
.poolModal .btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0;
  opacity: 1;
}
.Communities-area{
  position: relative;
}
.Communities-area::after{
  content: '';
  position: absolute;
  background: url(../images/after_befor.png) no-repeat scroll center center / cover;
  width: 500px;
  height: 500px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* .token_dropdown .dropdown-toggle::after {
  margin-left: 10em;
} */